<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /native-php-webapp/admin/public/

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    RewriteRule ^(.*)$ /native-php-webapp/admin/index.php [L]
</IfModule>